includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - tests/

    # Level 5 is a good baseline for existing projects before jumping to 9
    level: 5

    excludePaths:
        - vendor/*
